{
  "swagger": "2.0",
  "info": {
    "description": "㈜케이티(내국인)와 SK텔레콤(주)(외국인)의 이동통신 데이터를 기반으로 제공되는 광역 및 기초지자체별 방문자 수 정보입니다. ‘방문자’는 거주, 통근, 통학 등의 일상생활권을 벗어나 관광 등의 목적으로 한 장소에 일정시간 머문 사람으로, 정확한 방문목적을 알 수 없는 데이터 특성상의 한계로 ‘관광객’과 동일하게 정의되지 않습니다. 또한 방문자 수는 일자별 순방문자 수로서, 특정 방문자가 2박 3일간 한 지역을 방문했을 경우 3명으로 집계되며, 기초지자체와 광역지자체가 별도의 집계 기준을 가지고 있어 임의의 데이터 합산이 불가능합니다. 더 자세한 데이터 해석 유의사항은 한국관광 데이터랩(https://datalab.visitkorea.or.kr)의 데이터 설명을 참조 부탁드립니다.",
    "version": "1.0.0",
    "title": "한국관광공사_빅데이터_지역별 방문자수_GW"
  },
  "host": "apis.data.go.kr/B551011/DataLabService",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/metcoRegnVisitrDDList": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "baseYmd": {
                              "type": "string",
                              "description": "기준연월일",
                              "properties": {}
                            },
                            "areaCode": {
                              "type": "string",
                              "description": "시도코드",
                              "properties": {}
                            },
                            "areaNm": {
                              "type": "string",
                              "description": "시도명",
                              "properties": {}
                            },
                            "daywkDivCd": {
                              "type": "string",
                              "description": "요일구분코드",
                              "properties": {}
                            },
                            "daywkDivNm": {
                              "type": "string",
                              "description": "요일구분명",
                              "properties": {}
                            },
                            "touDivCd": {
                              "type": "string",
                              "description": "관광객구분코드",
                              "properties": {}
                            },
                            "touDivNm": {
                              "type": "string",
                              "description": "관광객구분명",
                              "properties": {}
                            },
                            "touNum": {
                              "type": "string",
                              "description": "관광객수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "광역 지자체 지역방문자수 집계 데이터 정보 조회",
        "description": "광역 지자체 지역방문자수 집계 데이터 정보를 조회하는 기능입니다. 전체데이터관련 정보는 한국관광공사 TourAPI운영팀으로 문의해 주세요.",
        "operationId": "metcoRegnVisitrDDList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WIN (윈도우폰), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "startYmd",
          "description": "시작연월일(YYYYMMDD)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "endYmd",
          "description": "종료연월일(YYYYMMDD)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/locgoRegnVisitrDDList": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "baseYmd": {
                              "type": "string",
                              "description": "기준연월일",
                              "properties": {}
                            },
                            "signguCode": {
                              "type": "string",
                              "description": "시군구코드",
                              "properties": {}
                            },
                            "daywkDivCd": {
                              "type": "string",
                              "description": "요일구분코드",
                              "properties": {}
                            },
                            "signguNm": {
                              "type": "string",
                              "description": "시군구명",
                              "properties": {}
                            },
                            "touDivCd": {
                              "type": "string",
                              "description": "관광객구분코드",
                              "properties": {}
                            },
                            "touDivNm": {
                              "type": "string",
                              "description": "관광객구분명",
                              "properties": {}
                            },
                            "touNum": {
                              "type": "string",
                              "description": "관광객수",
                              "properties": {}
                            },
                            "daywkDivNm": {
                              "type": "string",
                              "description": "요일구분명",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "기초 지자체 지역방문자수 집계 데이터 정보 조회",
        "description": "기초 지자체 지역방문자수 집계 데이터 정보를 조회하는 기능입니다. 전체데이터관련 정보는 한국관광공사 TourAPI운영팀으로 문의해 주세요.",
        "operationId": "locgoRegnVisitrDDList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WIN (윈도우폰), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "startYmd",
          "description": "시작연월일(YYYYMMDD)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "endYmd",
          "description": "종료연월일(YYYYMMDD)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "metcoRegnVisitrDDList_item": {
      "type": "object",
      "properties": {
        "touNum": {
          "type": "string",
          "description": "관광객수"
        },
        "baseYmd": {
          "type": "string",
          "description": "기준연월일"
        },
        "areaCode": {
          "type": "string",
          "description": "시도코드"
        },
        "areaNm": {
          "type": "string",
          "description": "시도명"
        },
        "daywkDivCd": {
          "type": "string",
          "description": "요일구분코드"
        },
        "daywkDivNm": {
          "type": "string",
          "description": "요일구분명"
        },
        "touDivCd": {
          "type": "string",
          "description": "관광객구분코드"
        },
        "touDivNm": {
          "type": "string",
          "description": "관광객구분명"
        }
      }
    },
    "metcoRegnVisitrDDList_header": {
      "type": "object",
      "properties": {
        "resultCode": {
          "type": "string",
          "description": "API 호출 결과의 상태 코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "API 호출 결과의 상태"
        }
      }
    },
    "metcoRegnVisitrDDList_body": {
      "type": "object",
      "properties": {
        "numOfRows": {
          "type": "number",
          "description": "한 페이지의 결과 수"
        },
        "pageNo": {
          "type": "number",
          "description": "현재 조회된 데이터의 페이지 번호"
        },
        "totalCount": {
          "type": "number",
          "description": "전체 데이터의 총 수"
        },
        "items": {
          "$ref": "#/definitions/metcoRegnVisitrDDList_items"
        }
      }
    },
    "metcoRegnVisitrDDList_items": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "#/definitions/metcoRegnVisitrDDList_item"
        }
      }
    },
    "locgoRegnVisitrDDList_header": {
      "type": "object",
      "properties": {
        "resultCode": {
          "type": "string",
          "description": "API 호출 결과의 상태 코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "API 호출 결과의 상태"
        }
      }
    },
    "locgoRegnVisitrDDList_body": {
      "type": "object",
      "properties": {
        "numOfRows": {
          "type": "number",
          "description": "한 페이지의 결과 수"
        },
        "pageNo": {
          "type": "number",
          "description": "현재 조회된 데이터의 페이지 번호"
        },
        "totalCount": {
          "type": "number",
          "description": "전체 데이터의 총 수"
        },
        "items": {
          "$ref": "#/definitions/locgoRegnVisitrDDList_items"
        }
      }
    },
    "locgoRegnVisitrDDList_items": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "#/definitions/locgoRegnVisitrDDList_item"
        }
      }
    },
    "locgoRegnVisitrDDList_item": {
      "type": "object",
      "properties": {
        "baseYmd": {
          "type": "string",
          "description": "기준연월일"
        },
        "signguCode": {
          "type": "string",
          "description": "시군구코드"
        },
        "signguNm": {
          "type": "string",
          "description": "시군구명"
        },
        "daywkDivCd": {
          "type": "string",
          "description": "요일구분코드"
        },
        "daywkDivNm": {
          "type": "string",
          "description": "요일구분명"
        },
        "touDivCd": {
          "type": "string",
          "description": "관광객구분코드"
        },
        "touDivNm": {
          "type": "string",
          "description": "관광객구분명"
        },
        "touNum": {
          "type": "string",
          "description": "관광객수"
        }
      }
    },
    "metcoRegnVisitrDDList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "API 호출 결과의 상태"
            },
            "resultCode": {
              "type": "string",
              "description": "API 호출 결과의 상태 코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "numOfRows": {
              "type": "number",
              "description": "한 페이지의 결과 수"
            },
            "pageNo": {
              "type": "number",
              "description": "현재 조회된 데이터의 페이지 번호"
            },
            "totalCount": {
              "type": "number",
              "description": "전체 데이터의 총 수"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "baseYmd": {
                      "type": "string",
                      "description": "기준연월일"
                    },
                    "areaCode": {
                      "type": "string",
                      "description": "시도코드"
                    },
                    "areaNm": {
                      "type": "string",
                      "description": "시도명"
                    },
                    "daywkDivCd": {
                      "type": "string",
                      "description": "요일구분코드"
                    },
                    "daywkDivNm": {
                      "type": "string",
                      "description": "요일구분명"
                    },
                    "touDivCd": {
                      "type": "string",
                      "description": "관광객구분코드"
                    },
                    "touDivNm": {
                      "type": "string",
                      "description": "관광객구분명"
                    },
                    "touNum": {
                      "type": "string",
                      "description": "관광객수"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "locgoRegnVisitrDDList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "API 호출 결과의 상태 코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "API 호출 결과의 상태"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "pageNo": {
              "type": "number",
              "description": "현재 조회된 데이터의 페이지 번호"
            },
            "totalCount": {
              "type": "number",
              "description": "전체 데이터의 총 수"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "baseYmd": {
                      "type": "string",
                      "description": "기준연월일"
                    },
                    "signguCode": {
                      "type": "string",
                      "description": "시군구코드"
                    },
                    "daywkDivCd": {
                      "type": "string",
                      "description": "요일구분코드"
                    },
                    "signguNm": {
                      "type": "string",
                      "description": "시군구명"
                    },
                    "touDivCd": {
                      "type": "string",
                      "description": "관광객구분코드"
                    },
                    "touDivNm": {
                      "type": "string",
                      "description": "관광객구분명"
                    },
                    "touNum": {
                      "type": "string",
                      "description": "관광객수"
                    },
                    "daywkDivNm": {
                      "type": "string",
                      "description": "요일구분명"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "number",
              "description": "한 페이지의 결과 수"
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://gwapi.visitkorea.or.kr/openapi/service/gwrest/DataLabService/locgoRegnVisitrDDList",
      "oprtinNm": "기초 지자체 지역방문자수 집계 데이터 정보 조회",
      "oprtinDc": "기초 지자체 지역방문자수 집계 데이터 정보를 조회하는 기능입니다. 전체데이터관련 정보는 한국관광공사 TourAPI운영팀으로 문의해 주세요.",
      "gwSvcNm": "locgoRegnVisitrDDList",
      "operationId": "locgoRegnVisitrDDList",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "numOfRows",
          "paramtrBassValue": "10",
          "paramtrDc": "한페이지결과수",
          "paramtrTy": "number",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrBassValue": "1",
          "paramtrDc": "페이지번호",
          "paramtrTy": "number",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "MobileOS",
          "paramtrBassValue": "ETC",
          "paramtrDc": "OS 구분 : IOS (아이폰), AND (안드로이드), WIN (윈도우폰), ETC(기타)",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "MobileApp",
          "paramtrBassValue": "AppTest",
          "paramtrDc": "서비스명(어플명)",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "serviceKey",
          "paramtrBassValue": "인증키(URL- Encode)",
          "paramtrDc": "인증키(서비스키)",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "startYmd",
          "paramtrBassValue": "20210513",
          "paramtrDc": "시작연월일(YYYYMMDD)",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "endYmd",
          "paramtrBassValue": "20210513",
          "paramtrDc": "종료연월일(YYYYMMDD)",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/locgoRegnVisitrDDList_header",
          "subDefNm": "locgoRegnVisitrDDList_header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "API 호출 결과의 상태 코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "API 호출 결과의 상태",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/locgoRegnVisitrDDList_body",
          "subDefNm": "locgoRegnVisitrDDList_body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "pageNo",
              "paramtrDc": "현재 조회된 데이터의 페이지 번호",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "number",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "전체 데이터의 총 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "number",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/locgoRegnVisitrDDList_items",
              "subDefNm": "locgoRegnVisitrDDList_items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/locgoRegnVisitrDDList_item",
                  "subDefNm": "locgoRegnVisitrDDList_item",
                  "paramtrTy": "object",
                  "paramtrDivision": "필수",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "baseYmd",
                      "paramtrDc": "기준연월일",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "signguCode",
                      "paramtrDc": "시군구코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "daywkDivCd",
                      "paramtrDc": "요일구분코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "signguNm",
                      "paramtrDc": "시군구명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "touDivCd",
                      "paramtrDc": "관광객구분코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "touDivNm",
                      "paramtrDc": "관광객구분명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "touNum",
                      "paramtrDc": "관광객수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "daywkDivNm",
                      "paramtrDc": "요일구분명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    }
                  ]
                }
              ]
            },
            {
              "paramtrNm": "numOfRows",
              "paramtrDc": "한 페이지의 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "number",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        }
      ]
    }
  ]
}